$scoreBig: 100px;
$scoreSmall: 80px;

#wrap {
  max-width: 500px;
  margin: 0 auto;

  header {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 3rem;
      font-weight: bold;
    }
  }
}

.show-score {
  display: flex;
  margin-top: 20%;
  margin-bottom: 8%;

  .score {
    width: $scoreBig;
    background-color: #9f8b77;
    margin-right: 20px;
    border-radius: 5px;
    color: #fff;
    padding: 6px;

    :first-child {
      color: #ccc0b3;
    }

    :last-child {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  .great {
    margin-right: 0;
  }
}

#start {
  display: block;
  margin-left: auto;
  width: $scoreBig;
  padding: 10px;
  background-color: #8f7a66;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;

  &:hover {
    background-color: #9f8b77;
  }
}

#container {
  box-sizing: border-box;
  margin: 30px auto;
  background-color: #bbada0;
  border-radius: 10px;
  position: relative;
  font-size: 0;
  overflow: hidden;

  .cell,
  .numCell {
    width: 20%;
    border-radius: 6px;
  }

  .cell {
    background-color: #ccc0b3;
    display: inline-block;
    margin-left: 4%;
    margin-top: 4%;
  }

  .numCell {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    line-height: 100px;
    position: absolute;
  }
}

#over {
  position: absolute;
  z-index: 5;
  width: 50%;
  height: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  color: #fff;
  display: none;

  a {
    display: inline-block;
    font-size: 1.5rem;
    background-color: #9f8b77;
    padding: 10px 20px;
    border-radius: 6px;
    color: #fff;
    margin-top: 8px;
  }
}

@media screen and(max-width:420px) {
  #wrap {
    width: 92%;
  }

  #container .numCell {
    font-size: 4rem;
  }


  .show-score .score,
  #start {
    width: $scoreSmall;
  }
}